@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

::selection {
  background-color: #4f46e5;
  color: #fff;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#nprogress .bar {
  background: #4f46e5 !important; /* Change this to your desired color */
  height: 2px !important;
}

.admin::-webkit-scrollbar {
  display: none;
}

.recharts-cartesian-grid-horizontal line,
.recharts-cartesian-grid-vertical line {
  stroke: #d1d5db;
}

.recharts-pie-label-text {
  font-weight: 600;
}
